:root{
    --dark-blue: #1c2431;
    --dark-main-bg:	#181f2a;
    --dark-footer-bg: #0b1523;
    --dark-testimonials: #202a3c;
    --cyan: #65e2d9;
    --blue: #339ecc;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#root {
    background-color: var(--dark-blue);
}

header {
    height: 160px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

/* LOGO DA FYLO */
header .content {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

/* FEATURES, TEAM E SIGN IN */
.breadcrumb {
    color: white;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.breadcrumb p {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    margin-right: 55px;
}

/* PRIMEIRA SECTION */
section .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .intro #img-intro {
    margin-top: 50px;
    width: 710px;
    height: 550px;
}

/*Título "All your files..." */
section .intro .first-title{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

section .intro p {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}

/*Primeiro botão com "Get Started" */
section .intro button {
    background: linear-gradient(to right, #65e2d9, #339ecc);;
    color: white;
    font-family: 'Raleway', 'sans-serif';
    width: 280px;
    height: 55px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
}

/*----------------------------------*/

/*SEGUNDA SECTION */
section .squares {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    width: 390px;
    padding: 20px;
}
/*Títulos de cada um */
section .squares h3 {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    margin-bottom: 10px;
}

section .squares p {
    color: white;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 12px;
}

/*----------------------------------*/
/*TERCEIRA SECTION */
section .third-part{
    display: flex;
    flex-direction: row;
}

section .third-part #img-productive {
    width: 615px;
    height: 460px;
}

section #texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;

}

section #texts .second-title {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
}

section #texts p {
    color: white;
    font-family: 'Open Sans', 'sans-serif';
}

section #texts a {
    color: var(--cyan);
}

section #texts img{
    width: 15px;
    height: 15px;
}