:root{
    --dark-blue: #1c2431;
    --dark-main-bg:	#181f2a;
    --dark-footer-bg: #0b1523;
    --dark-testimonials: #202a3c;
    --cyan: #65e2d9;
    --blue: #339ecc;

}

body {
    font-family: 'Open Sans', 'sans serif';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#root {
    background-color: var(--dark-blue);
}

header {
    height: 160px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

/* LOGO DA FYLO */
header .content {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

/* FEATURES, TEAM E SIGN IN */
.breadcrumb {
    color: white;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.breadcrumb p {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    margin-right: 55px;
}

/* PRIMEIRA SECTION */
section .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

section .intro #img-intro {
    margin-top: 50px;
    width: 710px;
    height: 550px;
}

/*Título "All your files..." */
section .intro .first-title{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 64px;
}

section .intro p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 600px;
    line-height: 28px;
}

/*Primeiro botão com "Get Started" */
section .intro button {
    background: linear-gradient(to right, #65e2d9, #339ecc);;
    color: white;
    font-family: 'Raleway', 'sans-serif';
    width: 280px;
    height: 55px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
}

/*----------------------------------*/

/*SEGUNDA SECTION */
#second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
    background-color: var(--dark-main-bg);
}

section .squares {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    padding: 20px;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
}

.squares .beneficios {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/*As 4 imagens de cada item */
section .squares img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

/*Títulos de cada um */
section .squares h3 {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    margin: 16px 0;
}

/* Textos de cada item*/
section .squares p {
    color: white;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    width: 340px;
}



/*----------------------------------*/
/*TERCEIRA SECTION */

#productive {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-main-bg);

}

section .third-part{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

/* Imagem que fica no lado esquerdo */
section .third-part #img-productive {
    width: 615px;
    height: 460px;
}

/*Textos da parte direita da tela*/
section #texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
}

section #texts .second-title {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    margin-bottom: 10px;
}

section #texts p {
    color: white;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 13px;
}

/*Link "See how Fylo works" */
section #texts a {
    color: var(--cyan);
    font-family: 'Open Sans', 'sans-serif';
    font-size: 13px;
}

/*Setinha ao lado do link */
section #texts img{
    width: 15px;
    height: 15px;
}

/*----------------------------------*/
/* QUARTA SECTION */

#reconhecimento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 185px;
    background-color: var(--dark-main-bg);
    padding-bottom: 350px;
}

section #depoimentos {
    display: flex;
    flex-direction: row;
    width: 1150px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Imagem das aspas */
section #depoimentos #quote {
    position: absolute;
    top: -35px;
    left: -8px;

}

section #depoimentos .depoimento {
    background-color: var(--dark-testimonials);
    width: 350px;
    padding: 44px 26px 20px;
    border-radius: 4px;
    z-index: 10;
}

/* Texto de depoimento da pessoa */
section #depoimentos .depoimento > p {
    color: white;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
    line-height: 20px;
}

section #depoimentos .depoimento .person {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
}

/* Avatar da pessoa */
section #depoimentos .depoimento .person img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

/* Nome e ocupação da pessoa */
section #depoimentos .depoimento .person .info .name {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: white;
}

section #depoimentos .depoimento .person .info .role {
    font-size: 10px;
    line-height: 10px;
    color: white;
    opacity: 0.5;
    margin-top: 8px;
}


/*----------------------------------*/









/*----------------------------------*/
/*FOOTER*/

footer {
    display: flex;
    width: 100%;
    height: 510px;
    background-color: var(--dark-footer-bg);
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
    color: white;
}

footer .content {
    display: flex;
    flex-direction: column;
    width: 1250px;
}

footer .content .row {
    display: flex;
}

footer .content .row .location {

}

footer .content .row .contacts {

}

footer .content .row .contact {

}

footer .content .row .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 240px;
    grid-column-gap: 60pxpx;
    grid-row-gap: 24px;
}

footer .social {
    display: flex;
    gap: 12px;
    margin-left: 100px;
}

footer .content .row .social button {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
